<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
        <title>Foodfy</title>
        {% endblock %}
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    </head>
    
    <body>
        <header>
            <div class="container">
                <a href="/"><img src="/assets/logo.png" alt="Foodfy"></a>
                {% block header %}
                <a href="/">Home</a>
                <a href="/about">Sobre</a>
                <a href="/recipe">Receitas</a>
                {% endblock %}
            </div>
        </header>

        {% block content %}
        {% endblock %}

        <footer>
            <div class="end">
                <h3>Todos direitos reservados, receitas Foodfy.</h3>
            </div>
        </footer>

    </body>
</html>