body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
.container img {
    width: 90px;
    height: 26px;
    margin: 30px 122px 0 122px;
}

.container a {
    font-size: 16px;
    color: #111111;
    text-decoration: none;
    margin-right: 30px;
    font-size: 16px;
    line-height: 19px;
}

/* MAIN */
.rectangle{
    width: 85%;
    height: 366px;
    background-color: #FBDFDB;
    border-radius: 30px;
    margin: 36px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info h1{
    font-family: Roboto-Bold;
    font-size: 32px;
    color: #111111;
    width: 305px;
    height: 38px;
    padding: 90px 0px 10px 60px;
}

.info p {
    width: 316px;
    height: 84px;
    padding: 0px 0px 90px 60px;
    font-size: 18px;
    line-height: 28px;
    font-family: Roboto-Regular;
    color: #000000;
    opacity: 0.7;
}

.chef img {
    padding: 66px 100px 0; 
}

/* SECTION - Cards*/
.cards {
    width: 85%;
    height: 366px;
    margin: 36px auto;
}

.card__title h2 {
    margin: 50px 0 20px;
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
}
.card__moreAccessed{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


.card__image-container img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

.card__content h3{
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #111111;
    font-size: 18px;
    margin: 20px 0 5px;
}

.card__info p {
    font-size: 14px;
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #777777;
}

/* Pag - Receitas */
.card__image-container img {
    width: 940px;
    height: 280px;
    border-radius: 15px;
    margin: 0 auto 30px;
}

.card__content__recipe h2 {
    font-family: Roboto-Bold;
    font-size: 36px;
    color: #111111;
    margin: 0 0 4px;
}

.card__content__recipe h2,
.card__info__recipe h3 {
    text-align: center;
}

.card__info__recipe h3 {
    font-family: Roboto-Regular;
    font-size: 20px;
    color: #777777;
    margin-bottom: 0 0 50px;
}

.card__recipe {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 40px;
}

.card__recipe h3 {
    width: 136px;
    height: 28px;
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
    margin: 0 0 20px;
}

.card__recipe ul li {
    /* background-color: red; */
    /* font-family: Roboto-Regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px; */
}

.card__recipe p {
    background-color: green;
}

/* SECTION - ABOUT */
/* SECTION */
.about {
    width: 85%;
    height: 366px;
    margin: 50px auto;
}

.about__foodfy h1 {
    font-family: Roboto-Bold;
    font-size: 24px;
    line-height: 28px;
    color: #111111;
}

.about__foodfy p {
    width: 100%;
    height: 120px;
    font-family: Roboto-Regular;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

.about__as h2 {
    font-family: Roboto-Bold;
    font-size: 20px;
    line-height: 28px;
    color: #111111;
}

.about__as p {
    width: 100%;
    height: 120px;
    font-family: Roboto-Regular;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

.about__the-recipe h2 {
    font-family: Roboto-Bold;
    font-size: 20px;
    line-height: 28px;
    color: #111111;
}

.about__the-recipe p {
    width: 100%;
    height: 120px;
    font-family: Roboto-Regular;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

.about__as h2,
.about__the-recipe h2 {
    margin: 30px 0 20px;
}

/* FOOTER */
footer {
    width: 100%;
    height: 62px;
    background: #EEEEEE;
}

.end h3 {
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #999999;
    margin-top: 180px;
    text-align: center;
    padding-top: 22px;
}

/* Pag Erro */
.wrapper-404 {
    text-align: center;
    margin: 60px;
}